.but {
  background: #008d49;
  height: 10%;
  color: white;
}
.menu-item {
  .but {
    a {
      line-height: 50px !important;
      width: 150px;
      text-align: center;
      border: 1px solid #008d49;
      letter-spacing: 3px;
    }
    transition: all 0.4s ease-out 0s;
  }
  .but:hover {
    background: transparent !important ;
    border: 0px solid #bead8e !important;
    transition: all 0.4s ease-out 0s;
  }
  text-align: -webkit-center;
  margin-right: 20px;
  font-size: 20px;
  color: white !important;
}
.bt{
  color: white !important;
}
.itt {
  color: black !important;
}
.hovering-btn {
  color: white !important;
}
.hovering-btn:hover {
  color: black !important;
}

.menu-item {
  a {
    font-size: 16px !important;
  }
}
.show-button{
  background: white !important;
}

.bookbtn{
    background-color: #008d49 !important;
    border-color:  #008d49 !important ;

}
.bookbtn:hover{
 color: white !important;
}

.aboutbtn{
  border: 1px solid #008d49 !important ;
}
.aboutbtn:hover{
  background-color: #008d49 !important;
}
.aboutbtn1:hover{
  background-color: #008d49 !important;
  color: white !important;
}
.single-twitter::before{
color: #008d49 !important;
}
.price2{
  color: #008d49 !important;
}
.booktext:hover{
  color: #008d49 !important;
}
.about-features{
  li{
    a{
      i{
        color: #008d49 ;
      }
    }
  }
}
.vegicon:hover{
  background: #008d49 !important;
  i{
    color: black !important;
  }
}
.icon{
  i{
    color: #008d49 !important;
  }
}
#cate:hover{
  background: #008d49 !important;
  i{
    color: white !important;
  } 
}
.cates{
    a{
      i{
        color: #008d49 !important;
      }

    }
    
}
#texty{
  background-color: #008d49 !important;
}
.widget-title::before{
  background-color: #008d49 !important;
}
.boo{
  background-color: #03be64 !important;
}

.bt:hover{
  color: black !important;
}
#price2{
  color: #008d49;
}
.row1{
  text-align: center !important;
}

#pre-load1{
  background-color: #008d49 !important;
}
header{
  .header-absolute{
    top: 20px !important;
  }
}