.but {
  background: #bead8e;
  height: 10%;
  color: white;
}
.menu-item {
  .but {
    a {
      line-height: 50px !important;
      width: 150px;
      text-align: center;
      border: 1px solid #bead8e;
      letter-spacing: 3px;
    }
    transition: all 0.4s ease-out 0s;
  }
  .but:hover {
    background: transparent !important ;
    border: 0px solid #bead8e !important;
    transition: all 0.4s ease-out 0s;
  }
  text-align: -webkit-center;
  margin-right: 20px;
  font-size: 20px;
}
.itt {
  color: black !important;
}
.hovering-btn {
  color: white !important;
}
.hovering-btn:hover {
  color: black !important;
}

.menu-item {
  a {
    font-size: 16px !important;
  }
}
.show-button{
  background: white !important;
}
